[submodule "auth-service"]
	path = auth-service
	url = ../auth-service
[submodule "customer-service"]
	path = customer-service
	url = ../customer-service
[submodule "scheduler-service"]
	path = scheduler-service
	url = ../scheduler-service
