[submodule "svc-stock-manager"]
	path = svc-stock-manager
	url = https://github.com/evestidor/svc-stock-manager
	branch = master
[submodule "ui"]
	path = ui
	url = https://github.com/evestidor/ui
	branch = master
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/evestidor/api-gateway
	branch = master
